/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.gradiente{
    background-image: linear-gradient(135deg,#e0f7fa,#b2ebf2,#80deea,#4dd0e1);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Clases creadas para que la calidad de las imágenes en el slider no se vea afectada */

.imagen-container {
  width: 200px; /* Ajusta el ancho del contenedor según nuestras necesidades */
}

.responsive-imagen {
  width: 100%;
  height: auto;
}

/** Salones **/
.salon {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.salon__nombre {
  font-size: 4rem;
}
.salon__lugar {
  font-size: 2.8rem;
  color: var(--secundario);
}
.salon__nombre,
.salon__lugar {
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}